 @font-face {
  font-family: 'Syne';
  src: url(syne-regular.woff), url(syne-regular.woff2);
}

@font-face {
  font-family: 'Syne-extra';
  src: url(syne-extra.woff), url(syne-extra.woff2);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 32px;
  z-index: 1;
}

header img {
  width: 136px;
  transition: width 0.1s;
}

header img:hover{
  cursor: pointer;
}

header.scrolled img {
  width: 0px;
}

body {
  font-family: 'Syne', Arial;
  font-size: 16px;
  line-height: 1.25;

  background-color: #f4e6d8;
  color: #15403d;
  margin: 240px auto;
  max-width: 1120px;

  transition: background-color 0.5s;
  overflow-x: hidden;
}

h1 {
  font-size: 32px;
  color: #e5745d;
  font-family: 'Syne-extra';
}

p {
  font-size: 32px;
  color: #15403d;
  font-family: 'Syne';
}

section {
  margin: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

section div {
  padding: 40px;
  position: relative;
}

section img {
  position: relative;
}

section:nth-child(even) {
  flex-direction: row-reverse;
}

div.stamps {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

div.stamps img {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: spin 30s linear infinite;
}
